---
---


// Copied from common.css
.mainFooter {
  background:#393939;
  font-size:12px;
  line-height: 16px;
  text-align: center;
  padding:20px;
  color:#fff;

  a {
    color:#fff;
  }

  ul {
    list-style:none;
    margin-bottom: 10px;
  }
}

.candidates {
  min-height: 400px;
  .icon {
    width: 60px;
    height: 60px;
  }
}
