---
---

// Offset for fixed top navbar
body {
  padding-top: 40px;
}

.top-head {
  text-align: center;

  .large-logo {
    margin: 60px 0;
    display: inline-block;
  }
  h1 {
    font-size: 63px;
  }
  p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
  }
}
