---
---

body {
  // Offset for fixed top navbar
  padding-top: 40px;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding: 30px 0;
  color: #777;
  font-size: 14px;
}

.top-head {
  text-align: center;

  .large-logo {
    margin: 60px 0;
    display: inline-block;
  }
}
