---
title: 応募セッション一覧
---

<div class="alert alert-info" role="alert">
  これは応募いただいたセッションです。
  開催されるセッションは後日、参加者の投票により決定されます。
</div>
<div class="text-right">
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-via="{{ site.ja.twitter }}"
  data-related="{{ site.ja.twitter }}"
  data-hashtags="ScalaMatsuri">Tweet</a>
</div>

<h2>40分</h2>
<div class="shuffle">
{% assign has40 = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 40 %}
    {% include_relative element.html candidate=candidate %}
    {% assign has40 = true %}
  {% endif %}
{% endfor %}
</div>

{% unless has40 %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}

<h2>15分</h2>
<div class="shuffle">
{% assign has15 = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 15 %}
    {% include_relative element.html candidate=candidate %}
    {% assign has15 = true %}
  {% endif %}
{% endfor %}
</div>

{% unless has15 %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}
