---
layout: null
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ScalaMatsuri 2016 | The largest international Scala conference in Asia</title>
    <meta name="description" content="The largest international Scala conference in Asia">
    <meta name="keywords" content="Scala, conference">

    <meta property="og:title" content="ScalaMatsuri 2016 | The largest international Scala conference in Asia" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://scalamatsuri.org/index_en.html" />
	<meta property="og:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png" />
	<meta property="og:site_name" content="ScalaMatsuri 2016｜The largest international Scala conference in Asia" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:description" content="The largest international Scala conference in Asia" />

    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="http://scalamatsuri.org/">
	<meta name="twitter:title" content="ScalaMatsuri 2016｜The largest international Scala conference in Asia">
	<meta name="twitter:description" content="The largest international Scala conference in Asia">
	<meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png">

    <link href="css/common.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/respond.src.js"></script>
	<script src="js/shuffle.js"></script>

	<script type="text/javascript">
	if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
	        document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
	    }else{
	        document.write('<meta name="viewport" content="width=device-width" />');
	    }
	</script>


	<!--[if lt IE 9]>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script>
		$(document).ready(function(){
			$(".gnavSmClick").click(function(){
				$(".smVerGnav").slideToggle();
			});

			$(".btn1day").click(function(){
				$(".prog1table").css("display","block");
				$(".prog2table").css("display","none");
				$(".btn2day").removeClass("onNavLink");
				$(this).addClass("onNavLink");
			});

			$(".btn2day").click(function(){
				$(".prog1table").css("display","none");
				$(".prog2table").css("display","block");
				$(".btn1day").removeClass("onNavLink");
				$(this).addClass("onNavLink");
			});

			$(".btn1space").click(function(){
				resetTable();
				$(".space1area").css("display","block");
				$(this).addClass("onNavLink");
			});

			$(".btn2space").click(function(){
				resetTable();
				$(".space2area").css("display","block");
				$(this).addClass("onNavLink");
			});

			$(".btn3space").click(function(){
				resetTable();
				$(".space3area").css("display","block");
				$(this).addClass("onNavLink");
			});

			function resetTable(){
				$(".btn1space").removeClass("onNavLink");
				$(".btn2space").removeClass("onNavLink");
				$(".btn3space").removeClass("onNavLink");
				$(".space1area").css("display","none");
				$(".space2area").css("display","none");
				$(".space3area").css("display","none");
			}

		});
	</script>
</head>
<body id="top">

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=563078517069914";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div id="wrapper" class="clearfix">

		<header class="mainHeader">
			<nav class="gnav pcVer">
				<ul class="clearfix">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_en %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
					<li><a href="/">日本語</a></li>
				</ul>
			</nav>
			<nav class="gnav smVer">
				<p class="gnavSmClick"><img src="img/common/icon_menu.png"></p>
				<ul class="clearfix smVerGnav">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_en %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="mainVis">

			<p class="smVer linkLang"><a href="/">&raquo;&ensp;日本語</a></p>

			<ul class="snsBtnArea clearfix">
						<li class="btnpocket">
								<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
							<li class="gplusBtn">
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="medium" data-annotation="none"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'en-US'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.en.twitter }}" data-related="{{ site.en.twitter }}" data-hashtags="ScalaMatsuri" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></li>
						</ul>


			<div class="mainVisInner">

				<h1><img src="img/common/img_main_txt.png" alt="ScalaMatsuri 2014" /></h1>
				<p class="timeData">
					30th - 31st January, in Tokyo</p>
				<p class="txtData">
					The largest international Scala conference in Asia</p>
				<div class="logoArea">
					<h2 class="clearfix">
						<span class="ttlSpAreaTop">Shogun sponsor</span>
						<span class="linelSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
						<span class="linerSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
					</h2>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.shogun %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>

		<section class="sectionStyle7 smVer topBannerArea">
			<div class="sectionStyle7Inner">
				<article class="spBox">
					<h3 class="ttlspBox1">Shogun sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.shogun %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
			</div>
		</section>

<!--
		<section class="sectionStyle1" id="intro">
			<div class="sectionStyle1Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">開催趣旨</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
					<p class="subTtlSm">Goals</p>
				</header>
				<div class="txtBlock">
					<p>Scala は 2003 年に Martin Odersky 教授（当時）らによって開発されたプログラミング言語です。Twitter や LinkedIn、Foursquare などの著名サービスが Scala を採用しており、海外での採用事例は着々と増えてきています。Scala コミュニティもそれに伴い成長し、世界中の開発者が Scala や周辺ツールの開発に貢献しています。</p>
					<p>日本国内でも Twitter が Scala を採用したことをきっかけに注目を集めはじめ、国内の Scala 関連書籍は10冊以上出版されています。 昨年は、日本国内から Scala への貢献が少ないことや、Scala の実用事例が十分にまとまっていないことを考え、「海外コミュニティとの交流促進」「実用言語としての Scala」をテーマに、ScalaMatsuri 2013 を開催しました。</p>
					<p>幸いにして、200 名分のチケットが1週間も経たずに売り切れ、カンファレンスも大盛況の内に幕を閉じました。また、このカンファレンスのおかげかどうか、日本国内からの Scala への貢献もだいぶ増えているように思えます。</p>
					<p>今年は、Scala を学び始めた原点に立ち返って「Enjoy.scala」をテーマにしたいと思います。名称も ScalaMatsuri に変更してイベントを開催します。実用にとどまらず、実験的な試みや、ただ楽しむだけのための発表も含めて様々な発表が行われることを願っています。</p>
				</div>
			</div>
		</section>
-->

		<section class="sectionStyle2" id="info">
			<div class="sectionStyle2Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">Event Info</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
				</header>
				<div class="contArea">
					<!--
					<p>Scala に関する海外からのゲストスピーカーも招いた大規模な有料イベントです。 パラレルに 2 セッションで進行する予定です。一般募集のセッションや LT 大会も行う予定です。 懇親会についても行う予定ですが、現在調整中です。</p>
					-->
          <br/>
					<p>
						We're going to announce looking for sponsors, soon. Tickets will also be available here later on.<br />
						We announce the news at <a href="https://twitter.com/scala_jp">twitter</a> and <a href="https://www.facebook.com/ScalaMatsuri">facebook</a>.Please follow/like.
					</p>
					<table>
						<tr>
							<th>Dates</th>
							<td>30th(Sat.) - 31st(Sun.) January in 2016</td>
						</tr>
						<tr>
							<th>Venue</th>
							<td>
								<a href="http://www.jasso.go.jp/tiec/index_e.html" target="_blank">
									Tokyo International Exchange Center
								</a>
							</td>
						</tr>
						<!--
						<tr>
							<th>参加者数</th>
							<td>300 名</td>
						</tr>
						<tr>
							<th>参加者費(2日間共通チケット)</th>
							<td>一般6000円 学生3000円</td>
						</tr>
						-->
					</table>
				</div>
			</div>
		</section>

<!--
		<section class="sectionStyle3" id="gues">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">招待講演者</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">Invited Speakers</p>
			</header>
			<div class="isList clearfix">
				<article>
					<figure><img src="img/common/img_person1.png" alt="" /></figure>
					<h3>Martin Odersky </h3>
					<p>Scala 設計者, Typesafe 創業者</p>
				</article>
				<article>
					<figure><img src="img/common/img_person2.png" alt="" /></figure>
					<h3>Martin Odersky </h3>
					<p>Scala 設計者, Typesafe 創業者</p>
				</article>
				<article>
					<figure><img src="img/common/img_person3.png" alt="" /></figure>
					<h3>Martin Odersky </h3>
					<p>Scala 設計者, Typesafe 創業者</p>
				</article>
				<article>
					<figure><img src="img/common/img_person4.png" alt="" /></figure>
					<h3>Martin Odersky </h3>
					<p>Scala 設計者, Typesafe 創業者</p>
				</article>
			</div>
		</section>
-->

<!--
		<section class="sectionStyle4" id="prog">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">プログラム</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dotsw_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dotsw_right.png"></span>
				</h2>
				<p class="subTtlSm">Program</p>
			</header>
			<p class="contTxtArea">
				本カンファレスのセッションについての情報です。<br>
				9月6日の講演では、A会場B会場それぞれで、スポンサーであるドワンゴ様のご協力によりニコニコ生放送での中継が行われる予定です。
			</p>
			<div class="progrumTableArea">
				<nav class="navLinks navLinksBig">
				<ul class="clearfix">
					<li class="onNavLink btn1day"><span>1日目</span></li>
					<li class="btn2day"><span>2日目</span></li>
				</ul>
				</nav>
				<div class="progrumTableOutSide">
					<nav class="navLinks">
						<ul class="clearfix">
							<li class="btn1space"><span>開場A</span></li>
							<li class="btn2space"><span>開場B</span></li>
							<li class="btn3space"><span>開場C</span></li>
						</ul>
					</nav>

					<div class="prog1table">
						<p>1日目 カンファレンス(2パラレルセッション) 8時入場開始 21時終了予定</p>
						<table class="progrumTable space1area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場A</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>


						<table class="progrumTable space2area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場B</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>


						<table class="progrumTable space3area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場C</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>


					</div>






					<div class="prog2table">
						<p>2日目 カンファレンス(2パラレルセッション) 8時入場開始 21時終了予定</p>


						<table class="progrumTable space1area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場A</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>



						<table class="progrumTable space2area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場B</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>



						<table class="progrumTable space3area">
							<tr>
								<th style="width:200px;">時間</th>
								<td style="width:625px;">会場C</td>
							</tr>
							<tr>
								<th>9:00 - 9:55</th>
								<td>開場</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
							<tr>
								<th>9:55 - 10:15</th>
								<td>
									オープニング<br>
									ScalaMatsuri 事務局 水島 宏太
								</td>
							</tr>
						</table>

					</div>

					<p class="pdogTop"><a href="#prog">> Back to Program top</a></p>

				</div>
			</div>
		</section>
-->

     <section class="sectionStyle5">
      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">Call for Proposal</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
      </header>
      <div class="sectionStyle1Inner">
        <div class="txtBlock">
          <p>&nbsp;</p>
          <p>Come share your stories at Scala Matsuri 2016!</p>
          <p>
We are looking for topics that you think Scala community would be interested. We have two session length: 40 minutes and 15 minutes. Prepare an abstract of your talk (600 characters or less), and submit your proposal. The sessions will be decided by votes by your fellow Matsuri goers. Travel support is also available for highly voted speakers (up to $2,000).
</p>
          <p>Please submit your proposal via <a href="/en/cfp/">Application Form</a>.This CFP will close on October 15th 00:00 JST.</p>
          <p><a href="/en/candidates/">See proposal list so far.</a></p>
        </div>
      </div>
    </section>



		<section class="sectionStyle5">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">Share ScalaMatsuri</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
			</header>
      <br/>
			<div>
				<ul class="snsBtnArea snsBtnAreaMiddle clearfix">
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
							<li>
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="tall"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'en-US'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.en.twitter }}" data-related="{{ site.en.twitter }}" data-hashtags="ScalaMatsuri" data-lang="en" data-count="vertical">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li>
								<a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
								<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
						</ul>

			</div>
		</section>



		<section class="sectionStyle6" id="tickets">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">Tickets</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dotsw_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dotsw_right.png"></span>
				</h2>
				<p class="subTtlSm"></p>
			</header>
			<div class="inqBox">
				<a data-width="300" class="doorkeeper-registration-widget" href="https://scalaconfjp.doorkeeper.jp/events/31702">ScalaMatsuri 2016</a><script src="http://widgets.doorkeeper.jp/w/widget.js"></script>
			</div>
		</section>

<section class="sectionStyleCoC">
	<div class="sectionStyle1Inner">
		<div class="txtBlock">
			<p>
				Scala Matsuri is dedicated to providing an open conference for all technologists from various regions and communities. We want to make it a fun experience for everyone, regardless of gender, race, and many different backgrounds. All participants, including speakers and sponsors, are asked to be respectful to each other and follow the <a href="/en/code-of-conduct/">Code of conduct</a>.
			</p>
			<p>
				Conference participants violating these rules may be asked to stop the session or leave the conference at the sole discretion of the conference organizers. If you have any questions about the Code of conduct, please ask for <a href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">inquiry form</a>.
			</p>
		</div>
	</div>
</section>

		<section class="sectionStyle7" id="sp">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">Sponsors</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">&nbsp;</p>
			</header>
			<div class="sectionStyle7Inner">
				<article class="spBox">
					<h3 class="ttlspBox1">Shogun sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.shogun %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
				<article class="spBox">
					<h3 class="ttlspBox1 spLv2">Daimyo sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.daimyo %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
				{% if site.data.logos.hatamoto.size > 0 %}
				<article class="spBox">
					<h3 class="ttlspBox1 spLv3">Hatamoto sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.hatamoto %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
				{% endif %}
				<article class="spBox">
					<h3 class="ttlspBox1 spLv4">Samurai sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.samurai %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
				<article class="spBox">
					<h3 class="ttlspBox1 spLv5">Ninja sponsor</h3>
					<ul class="clearfix shuffle">
						{% for logo in site.data.logos.ninja %}
						<li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
						{% endfor %}
					</ul>
				</article>
			</div>
		</section>

	{% include footer.html %}

	</div>
	{% include ga.html %}
</body>
</html>
