<header class="pageHeader">
  <nav class="gnav navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index_en.html">
        ScalaMatsuri 2016
      </a>
    </div>
    <ul class="clearfix">
      <li><a href="/index_en.html#info">Event Info</a></li>

      <li><a href="/en/cfp/">CFP</a></li>
      <li><a href="/en/candidates/">Proposal List</a></li>
      <!--
      <li><a href="#gues">招待講演者</a></li>
      <li><a href="#prog">プログラム</a></li>
      <li><a href="#inq">お申込み</a></li>
      <li><a href="#sp">スポンサー</a></li>
      -->
      <li><a href="/">日本語</a></li>
    </ul>
  </nav>
</header>
