<header class="pageHeader">
  <nav class="gnav navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        ScalaMatsuri 2016
      </a>
    </div>
    <ul class="clearfix">
      <li><a href="/#info">開催概要</a></li>

      <li><a href="/ja/cfp/">セッション募集</a></li>
      <li><a href="/ja/candidates/">応募セッション一覧</a></li>
      <!--
      <li><a href="#gues">招待講演者</a></li>
      <li><a href="#prog">プログラム</a></li>
      <li><a href="#inq">お申込み</a></li>
      <li><a href="#sp">スポンサー</a></li>
      -->
      <li><a href="/index_en.html">English</a></li>
    </ul>
  </nav>
</header>
