{% capture relative_path %}_candidates_en/{{include.id}}.html{% endcapture %}
{% for candidate in site.candidates_en %}
  {% if candidate.relative_path == relative_path %}
    <span class="session_title"><a href="javascript:void(0);" onclick="scalamatsuri.displayDescription('{{include.id}}',
     (function() {/*
<h1 class=\'session_title\'>{{ candidate.title }}</h1>
<p>{{ candidate.content }}</p>
*/}).toString().match(/(\{\/\*)([^]*)(\*\/\})/)[2].replace(/\n|\r/g, ''));">{{ candidate.title }}</a></span>
    <span class="session_name">
      {% if candidate.icon %}
        <img src="{{ candidate.icon }}" class="icon-mini">
      {% endif %}
      {{ candidate.name }}
    </span>
    {% if candidate.twitter %}
    <a href="https://twitter.com/{{ candidate.twitter }}">@{{ candidate.twitter }}</a>
    {% endif %}
    <span class="session_details">{% if candidate.language == "Japanese" %}J{% else %}E{% endif %}{% if candidate.audience == "Beginner" %}+{% elsif candidate.audience == "Intermediate" %}++{% else %}+++{% endif %}
    </span>
  {% endif %}
{% endfor %}