---
---
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="ScalaMatsuri">
    <!-- <meta name="author" content=""> -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{{ page.title }} - ScalaMatsuri 2016</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <!-- <link href="/css/extra.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
<!--
<div class="alert alert-info" role="alert">
  これは応募いただいたセッションです。
  開催されるセッションは後日、参加者の投票により決定されます。
</div>
-->

<!--
<div class="clearfix">
{% capture enUrl %}{{ page.url | replace_first:'/ja/','/en/' }}{% endcapture %}
{% for entry in site.candidates_en %}
  {% if entry.url == enUrl %}
    <span class="pull-right">
      <a class="small" href="{{ entry.url }}">English</a>
    </span>
  {% endif %}
{% endfor %}
</div>
-->

<h1 class="session_title">{{ page.title }}</h1>

{{content}}


<dl class="dl-horizontal">
  <dt>トークの長さ</dt>
  <dd>
    {% case page.length %}
    {% when 15 %} 15分
    {% when 40 %} 40分
    {% endcase %}
  </dd>

  <dt>発表言語</dt>
  <dd>
    {% case page.language %}
    {% when "Japanese" %} 日本語
    {% when "English" %} 英語
    {% endcase %}
  </dd>

  <dt>聴衆の対象</dt>
  <dd>
    {% case page.audience %}
    {% when "Beginner" %} 初心者: 分野の事前知識を必要としない
    {% when "Intermediate" %} 中級者: 分野の基礎は分かるが、細かい所は不安
    {% when "Advanced" %} 上級者: 分野に精通している人向けでトークでは入門の話は少なめ
    {% endcase %}
  </dd>


  <dt>発表者</dt>
  <dd>
    {% if page.icon %}
      <img src="{{page.icon}}" class="icon-mini">
    {% endif %}

    {{ page.name }}

    {% if page.organization %}
    ({{ page.organization}})
    {% endif %}

    {% if page.twitter %}
    <a class="btn btn-social-icon btn-twitter btn-xs"
     href="https://twitter.com/{{ page.twitter }}" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    {% endif %}

    {% if page.github %}
    <a class="btn btn-social-icon btn-github btn-xs"
     href="https://github.com/{{ page.github }}" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    {% endif %}
  </dd>
</dl>

<!--
<div class="text-center">
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet"
    data-via="{{ site.ja.twitter }}"
    data-hashtags="ScalaMatsuri"
    data-related="{{ site.ja.twitter }}{% if page.twitter %},{{ page.twitter }}"{% endif %}">
    Tweet</a>
</div>
<div class="text-center" style="margin-top: 30px;">
<a class="btn btn-info btn-lg" href="/ja/cfp/">私も何か話したい</a>
</div>
<hr>
<a class="btn btn-default" href="/ja/candidates/">
  <span class="glyphicon glyphicon-chevron-left"></span>
  応募一覧
</a>
-->
</body>
</html>
